/*Reset*/
ul, li{
    margin:0;
    padding:0;
}
/*Reset - End*/

ul{
    list-style-type:none;
}
    a{
        text-decoration:none;
    }

.list-item > li > a{
    color: black;
}

.list-item > li:hover > a{
    text-decoration:underline;
}

.sublist-item{
    display:none;
    margin:0px 0px 0px 8px;
}
    .sublist-item > li > a{
        color: #8f909a;
    }
    .sublist-item > li:hover > a{
        text-decoration:underline;
    }

.strech:hover > ul{
    display:block;
}