/*Reset*/
body,nav, aside, ul, li, a{
    margin:0;
    padding:0;
}
/*Reset - END*/

body {
    padding-top: 10px;
    background-color: #1e3741;
    min-width:1000px;
}
nav{
    height: 50px;
}
    ul{
        list-style:none;
    }
img{
    width:500px;
}

/*Classes*/
    /*Nav*/
    .list-item > li{
        float:left;
        background-color: #4b5f67;
        border-right: 1px solid #2d444d;
        padding:10px;
    }
    .list-item > li:first-of-type{
        background-color: #1e3741;
    }
        .list-item > li:first-of-type > a{
            color:white;
        }
    .list-item > li:active{
        background-color: #1e3741;
    }
        .list-item > li > a{
            color: #8aacb0;
            text-decoration:none;
        }
        .list-item > li:hover > a{
            text-decoration:underline;
        }
        .list-item > li:active > a{
            color:white;
        }
    /*Nav - END*/
    /*Aside*/
    .article-titles{
        float:left;
        width: 180px;
    }
        .article-titles > li:first-of-type{
            background-color: #00968c;
        }
            .article-titles > li:first-of-type > a{
            color:white;
            }
            .article-titles > li:hover > a{
            color:white;
            }
        .article-titles > li{
        border-bottom: 1px solid #29414a;
        padding:10px;
        }
        .article-titles > li > a{
            color: #a2a9ab;
            text-decoration:none;
        }
    /*Aside*/
/*Classes - END*/